<% layout("layouts/boilerplate") %>
<div class="row mt-4">
        <div class="col-8 offset-2">
            <h2><b><%= specificdata.title %></b></h2>
            <div class="card show-card ">
                <img src="<%= specificdata.image.url %>" class="card-img-top show-img" alt="listing-image">
                <br>
                <div class="card-body">
                    <p class="card-text">
                        <b>Owner: </b><%= specificdata.owner.username %> <br>
                        <b>Name: </b><%= specificdata.title %> <br>
                        <b>Description: </b><%= specificdata.description %> <br>
                        <b>Price: </b>&#8377;<%= specificdata.price.toLocaleString("en-IN") %> <br>
                        <b>Location:</b><%= specificdata.location %> <br>
                        <b>Country:</b><%= specificdata.country %> <br>
                    </p>
                </div>
                <br><br>
                <% if(currentUser && currentUser._id.equals(specificdata.owner._id)) {%>
                    <form action="/listings/<%=specificdata._id %>/edit" method="get">
                        <button class="edit-btn">Edit</button>
                    </form>
                    <br>
                    <form action="/listings/<%=specificdata._id %>?_method=DELETE" method="post">
                        <button class="del-btn">Delete</button>
                    </form>
                    <br><br>
                <%}%>
                <hr>
            </div>    
            <div class="mb-3 mt-4">
                <% if(currentUser){%>
                    <h2>Review:</h2>
                    <form method="POST" action="/listings/<%=specificdata._id %>/review" novalidate class="needs-validation">
                    
                        <div class="mb-3 mt-4">
                            <label for="rating" class="form-label">Rating</label>
                            <fieldset class="starability-slot">
                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="rating" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>    
                         <div>
                            <label for="comment" class="form-label">Comment</label>
                            <textarea name="comment" id="comment" rows="5" cols="8" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                Add a Comment to Give Review
                            </div>
                        </div>
                        <br><br>
                        <button class="del-btn">Submit</button>
                    </form>
                </div> 
                <%}%>   
                <hr>
                    <h2>All Reviews</h2>
                        <div class="row">
                            <% for(review of specificdata.reviews){%>
                                <div class="card-review col-5 ms-3">
                                    <div class="card-body" >
                                        <h5 class="card-title">Author:@<%=review.author.username%></h5>
                                        <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                                        <p class="card-text">Comment:<%=review.comment%></p>
                                        
                                    
                                        <form action="/listings/<%= specificdata._id %>/review/<%=review._id %>?_method=DELETE" method="post" class="mb-3">
                                            <button class="btn btn-sm btn-dark">Delete</button>
                                        </form>
                                    </div>
                                </div>        
                            <%}%>
                        </div>    
        </div>
</div>            
